.pres-row {
	margin-top: 2em;
	overflow: hidden;
	min-height: 177px;
}

.pres-text {
	height: 177px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	color: #333;
}

.pres-text > h4 {
	line-height: 2em;
}

.pres-img {
	margin-bottom: -99999px;
	padding-bottom: 177px;
	height: 177px;
	
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.jumbotron {
	padding-top:120px!important;
	padding-bottom:120px!important;
	margin-top: 2em;
	border-radius: 0 !important;
	text-align: center;
}

.color-green {
	background-color: #62AC5B;
	border-radius: 5px;
	box-shadow: 2px 3px 8px 0 rgba(0,0,0,.2);
}

.color-white {
	background-color: white;
	border-radius: 5px;
	box-shadow: 2px 3px 8px 0 rgba(0,0,0,.2);
}

.a-right {
	text-align: right;
}

.box-register {
	background-image: url("/Projet_SUAPS/asset/img/parcour_golf.jpg");
	background-size: auto;
	background-repeat:no-repeat;
	height:100%;
}

.box-register > div.container {
	background-color: #62AC5BDD;
	color: #EFEFEF;
	
	box-shadow: 2px 3px 8px 0 rgba(0,0,0,.2);
}
.panel_connection{
	text-align:center;
}